<?xml version="1.0"?>
<launch>


  <include file="$(find iiwa_moveit)/launch/moveit_planning_execution.launch">
    <arg name="sim" value="false"/>
  </include>

  <arg name="origin_xyz" default="'0 0 0'"/> <!-- Note the syntax to pass a vector -->
  <arg name="origin_rpy" default="'0 0 0'"/>

  <arg name="hardware_interface" default="PositionJointInterface"/> 
  <arg name="robot_name" default="iiwa"/>
  <!--  This loads the robot description  -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find iiwa_description)/urdf/iiwa7.urdf.xacro' hardware_interface:=$(arg hardware_interface) robot_name:=$(arg robot_name) origin_xyz:=$(arg origin_xyz) origin_rpy:=$(arg origin_rpy)" />

  <arg name="model" default="iiwa7"/>
  <param name="robot_description_semantic" textfile="$(find iiwa_moveit)/config/$(arg model).srdf" />


  <!-- Parameters to pass to the ROS node -->
<!--   <arg name="move_group" default="manipulator"/>
  <arg name="ee_link" default="tool_link_ee"/>
  <arg name="ros_rate" default="0.1"/>
 -->
  <!-- Here we call the ROS node we have written, with the parameters on top   -->
<!--   <node ns="iiwa" name="CommandRobotMoveit" pkg="iiwa_tool_examples" type="command_robot_moveit" respawn="false" output="screen">
    <param name="move_group" value="$(arg move_group)"/>
    <param name="ee_link" value="$(arg ee_link)"/>
    <param name="ros_rate" value="$(arg ros_rate)"/>
  </node> -->

  <node name="iiwa_moveit" pkg="opencv" type="IIWAMoveit.py" respawn="false" output="screen"/>

</launch>